/* *tipo de letra */
body {
  font-family: "";
}

@font-face {
  font-family: "fontawesome";
  src: url(../font/fontawesome-webfont.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "fontawesome";
  src: url(../font/fontawesome-webfont.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "fontawesome";
  src: url(../font/fontawesome-webfont.woff2);
  font-style: normal;
  font-weight: normal;
}

/* @font-face {
  font-family: "roboto";
  src: local("Roboto Light") url("../font/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "roboto";
  src: local("Roboto") url("../font/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: local("Roboto Medium") url("../font/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "roboto";
  src: local("Roboto Bold") url("../font/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: local("Roboto Black") url("../font/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
} */
